---
	import MainLayout from "../layout/Layout.astro";
---
	<MainLayout title="My Top Ten">
		<section class="py-5 header">
			<div class="wrapper">
				<h1>About</h1>
			</div>
		</section>
		<section class="wrapper py-5">
			<h2>Why?</h2>
			<p>Why did I create this website?</p>
			<h2>Who?</h2>
		</section>
	</MainLayout>
		
    