---
	import MainLayout from "../layout/LayoutHome.astro";
	import FeatureCard from "../components/FeatureCard.astro";
---
	<MainLayout title="My Top Ten">

		<section class="wrapper">
			<div class="grid">
				<FeatureCard icon="fa-solid fa-music fa-3x" label="Songs" id="number_songs" />
				<FeatureCard icon="fa-solid fa-user-music fa-3x" label="Artists" id="number_artists" />
				<FeatureCard icon="fa-solid fa-list-music fa-3x" label="Playlists" id="number_playlists" />
			</div>
		</section>
		<section class="bg-accent full-width">
			<div class="wrapper">1
				<h1>How It Works</h1>
					<p><i class="fa-solid fa-1"></i>. Create an account.</p>
					<p><i class="fa-solid fa-2"></i>. Create a list of your top 10 songs</p>
					<p><i class="fa-solid fa-3"></i>. Share your list with the world</p>
			</div>
		</section>
		<section class="wrapper">
			<h1>Latest Legends</h1>
			<div class="grid" id="latest-playlists">
			</div>
		</section>
		<style>
			.grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
				gap: 1rem;
			}
			.bg-accent{
				background-color: var(--static11);
				color: var(--text);
			}

		</style>
	</MainLayout>